.top-container{
    height: calc(100% - 96px);
    overflow:scroll;
}

.bottom-form{
    position:absolute;
    bottom:0px;
    display:block;
    width:100%;
    background-color:white;
    button{
        margin:0px !important;
    }
}