.center-form{
    
    width:290px;
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
    label{
        background-color: rgba(255,255,255,0.7);
        border-color: rgba(255,255,255,0);
        
        &.top-input{
            border-radius: 4px 4px 0px 0px !important;
        }
        
        &.bottom-input{
            border-radius: 0px 0px 4px 4px !important;
        }
    }
    
    .button-positive{
        opacity:0.9;
    }
    
}

.error-box{
    padding:10px;
    border:1px solid darken($assertive, 10%);
    background-color: $assertive;
    border-radius:4px;
    margin-bottom:10px;
    
    p{
        color:white;
        margin:0px;
    }
}
